:root {
  --color-black: #141515;
  --color-blue: #31a4de;
  --color-grey-light: #ccc;
  --color-grey-dark: #1e1f20;
  --color-purple: #e025f8;
  --color-white: #fff;
  --font-family-bold: "Gilroy-Bold", "Helvetica Neue", Arial, sans-serif;
  --font-family-regular: "Gilroy-Regular", "Helvetica Neue", Arial, sans-serif;
  --font-size-sm: 12px;
  --font-size: 16px;
  --font-size-lg: 24px; /* calc(--font-size * 1.5) */
  --font-size-xl: 48px; /* calc(--font-size * 3 )*/
  --font-size-xxl: 80px; /* calc(--font-size * 5 )*/
  --font-size-xxxl: 120px; /* calc(--font-size * 7.5) */
  --radius: 10px;
  --spacing-sm: var(--font-size-sm);
  --spacing: var(--font-size);
  --spacing-lg: var(--font-size-lg);
  --spacing-xl: var(--font-size-xl);
  --spacing-xxl: var(--font-size-xxl);   /*calc(var(--spacing) * 5);*/
  --theme-color-primary: var(--color-purple);
}
