:root {
  --color-black: #141515;
  --color-blue: #31a4de;
  --color-grey-light: #ccc;
  --color-grey-dark: #1e1f20;
  --color-purple: #e025f8;
  --color-white: #fff;
  --font-family-bold: "Gilroy-Bold", "Helvetica Neue", Arial, sans-serif;
  --font-family-regular: "Gilroy-Regular", "Helvetica Neue", Arial, sans-serif;
  --font-size-sm: 12px;
  --font-size: 16px;
  --font-size-lg: 24px;
  --font-size-xl: 48px;
  --font-size-xxl: 80px;
  --font-size-xxxl: 120px;
  --radius: 10px;
  --spacing-sm: var(--font-size-sm);
  --spacing: var(--font-size);
  --spacing-lg: var(--font-size-lg);
  --spacing-xl: var(--font-size-xl);
  --theme-color-primary: var(--color-purple);
}
