h1, h2, h3, h4, h5, h6, a, button {
  color: var(--color-white);
  font-family: var(--font-family-bold);
}

h1 {
  font-size: var(--font-size-xxl);
  line-height: 68px;

  @media screen and (min-width: 736px) {
    font-size: var(--font-size-xxxl);
    line-height: 100px;
  }
}

h2 {
  font-size: var(--font-size-xxl);
}

p {
  color: var(--color-white);
  font-family: var(--font-family-regular);
  font-size: var(--font-size);
  line-height: var(--font-size-lg);
}

span {
  color: var(--color-purple);
}
