/*
  Event Image

  Markup:
  <div className="c-event-image">
    <img src={eventImage} height="320" width="320" alt="event image" />
  </div>

  Styleguide: Components.Event-Image
*/

.c-event-image {
  margin: var(--spacing-xl) auto var(--spacing-xl);
  max-width: 512px;
  width: 100%;
  /*text-align: center;*/

  @media screen and (min-width: 1024px) {
    height: 512px;
    margin: var(--spacing-lg) auto var(--spacing-xl);
    width: 512px;
  }
}
