/*
  Footer

  Markup:
  <footer className="c-footer">
    <a className="c-footer__link" href="#">Learn More About React2</a>
    <p className="c-footer__cc">©Copyright {date.getFullYear()} React2</p>
  </footer>

  Styleguide: Components.Footer
*/

.c-footer {
  margin-bottom: calc(var(--spacing) * 2.5);
  margin-top: var(--spacing-xxl);
  text-align: center;

  &__link {
    color: var(--color-purple);
  }

  &__cc {
    font-family: var(--font-family-bold);
    font-size: var(--font-size-sm);
  }
}
