.c-footer {
  margin-bottom: 40px;
  margin-top: var(--spacing-xxl);
  text-align: center;

  &__link {
    color: var(--color-purple);
  }

  &__cc {
    font-size: var(--font-size-sm);
    font-weight: var(--font-family-bold);
  }
}
