/*
  Link

  Markup:
  <a href="#" class="c-link">Link</button>

  Styleguide: Components.Link
*/

.c-link {
  color: #fff;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-lg);
  opacity: 0.3;

  @media screen and (min-width: 736px) {
    color: var(--color-blue);
    font-size: var(--font-size);
    opacity: 1;
  }
}
