.c-profile-stats {
  /*background: red;*/
  align-items: center;
  display: flex;
  height: calc(var(--spacing-xxl));
  text-transform: uppercase;

  &__avatar {
    align-self: center;
    border-radius: 100%;
    height: calc(var(--spacing) * 3.5);
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    width: 56px;
  }

  &__percent {
    margin: calc(var(--spacing) / 2); /*8px*/
  }
}
