/*
  Profile

  Markup:
  <a class="c-profile" href="#">
    <img class="c-profile__icon" src="../assets/img/profile.png" alt="Profile Icon" />
  </a>

  Styleguide: Components.Profile
*/

.c-profile {
  height: var(--spacing-xl);
  margin: 0;
  opacity: 1;

  @media screen and (min-width: 736px) {
    opacity: 1;
  }

  &__icon {
    border-radius: 50%;
    height: var(--spacing-xl);
    width: var(--spacing-xl);
  }
}
