/*
  Profile

  Markup:
  <a class="c-profile" href="#">
    <img class="c-profile__icon" src="../assets/img/profile.png" alt="Profile Icon" />
  </a>

  Styleguide: Components.Profile
*/

.c-profile {
  height: 48px;
  margin: 0;
  opacity: 0;

  @media screen and (min-width: 736px) {
    opacity: 1;
  }

  &__icon {
    height: 48px;
    width: 48px;
  }
}
