.c-profile-stats {
  /*background: red;*/
  align-items: center;
  display: flex;
  height: 84px;
  /*justify-content: center; use for table layout*/ 
  text-transform: uppercase;

  &__avatar {
    align-self: center;
    border-radius: 100%;
    height: 56px;
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    width: 56px;
  }

  &__percent {
    margin: 8px;
  }
}
