/*
  Rating

  Markup:
  <div className="c-rating">
    <img className="c-rating__avatar" src="../assets/img/profile.png" alt="rating avatar" />
  </div>

  Styleguide: Components.Rating
*/

.c-rating {
  position: absolute;

  &__avatar {
    border-radius: 50%;
    height: var(--spacing-xl);
    width: var(--spacing-xl);
  }

  &--primary {
    right: -var(--spacing-xl);
  }

  &--secondary {
    left: -var(--spacing-xl);
  }
}
