
.c-splash__p {
  margin-top: var(--spacing);
  max-width: 500px;
  padding: var(--spacing-lg);
  text-align: left;
}

.c-splash__footer {
  margin-top: calc(var(--spacing) * 6);
  text-align: center;
}
