/*
  Title

  Markup:
  <h1 class="c-title">#SuperBowl51</h1>

  Styleguide: Components.Title
*/

.c-title {
  color: var(--color-white);
  font-size: calc(var(--font-size) * 2.5);
  margin-bottom: 0;
  /*margin-top: calc(var(--spacing-lg) * -1);*/
  width: 84%;

  @media screen and (min-width: 736px) {
    font-size: var(--font-size-xxl);
    margin-top: 0;
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    /*width: 40%;*/
    word-wrap: break-word;
  }

  /*@media screen and (min-width: 1024px) {
    font-size: var(--font-size-xxxl);
  }*/
}
