.l-main {
  height: calc(100% - (var(--spacing) * 2));
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  position: relative;

  @media screen and (min-width: 736px) {
    display: flex;
    height: calc(100% - (var(--spacing) * 5));
    max-width: 1024px;
  }
}
