.l-main {
  display: flex;
  height: calc(100% - (var(--spacing) * 2));
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  position: relative;

  @media screen and (min-width: 1024px) {
    height: calc(100% - (var(--spacing) * 5));
    justify-content: flex-start;
    max-width: 1024px;
  }

  &--landing {
    flex-wrap: wrap;
  }
}
